
.header_container{
    margin: 0 5% 0 5%;
    padding-top: 7%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 1px;
    color: white;
    font-family: 'IBM Plex Mono',sans-serif;

    @media screen and (min-width: 800px) {
        justify-content: space-between; 
        padding-top: 2%;
        padding-bottom: 0;
    }

    .menu_wrapper{
        display: flex;
        font-size: 7vw;
        @media screen and (min-width: 800px) {
            display: none;
        }
    }

    .logo_wrapper{

        .logo{
            font-family: Library;
            font-size: 6vw;
            opacity: 0.8; 
            @media screen and (min-width: 800px) {
                font-size: 2vw; 
            }
        }
    }

    
    .right_container {
        display: flex;
        @media screen and (min-width: 800px) {
            align-items: end;
            width: 33%;
            justify-content: space-between;
            align-items: center;
        }

        .header_nav{
            display: none;
            @media screen and (min-width: 800px) {
                display: flex; 
                flex-grow: 0.5;
                justify-content: space-around;
                text-transform: uppercase;
                align-items: center;
                
    
                .link_wrapper {
                    font-weight: 800;
                    font-size: 1vw; 
                    align-items: center;
                    letter-spacing: 0.2rem;
                }
                .link_wrapper_active {
                    font-weight: 800;
                    font-size: 1vw; 
                    align-items: center;
                    letter-spacing: 0.2rem;
                    color: #ff5c5f;
                }
                .link_wrapper:hover {
                    cursor: pointer;
                    color:#ff5c5f;
                }
            }
        }
        .cart_wrapper{
            display: flex;
            font-size: 5vw; 
            align-items: center;
            @media screen and (min-width: 800px) {
                font-size: 1.5vw; 
                cursor: pointer;
            }
            
            .counter{
                position: relative;
                left: 0.5rem;
                display: flex;
                font-family: 'IBM Plex Mono',sans-serif;
                font-size: 4vw;
                @media screen and (min-width: 800px) {
                    font-size: 1.5vw; 
                }
            }
        }
    }
    
}