.item_container {
    display: flex;
    justify-content: center;
    color: black;
    @media screen and (min-width: 800px) {
        justify-content: flex-start;
        width: 100%;
    }

    .item_wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 2rem 1rem 1rem 1rem;
        align-items: center;
            @media screen and (min-width: 800px) {
                width: 100%;
                flex-direction: row;
                gap: 1rem;
                justify-content: space-between;
            }
        .item_add_wrapper {
            .item_title{
                font-size: 4vw;
                font-weight: 800;
                margin-bottom: 0;
        
                @media screen and (min-width: 800px) {
                    font-size: 2vw;
                }
            }
            .item_quantity_wrapper {
                font-size: 4vw;
                font-weight: 800;
                @media screen and (min-width: 800px) {
                    font-size: 1.5vw;
                }
            }
        }
        
        .item_price_wrapper{
            font-size: 4vw;
            padding-bottom: 1rem;
            font-weight: 800;
    
            @media screen and (min-width: 800px) {
                font-size: 1.5vw;
                font-weight: 800;
                padding-bottom: 0.5rem;
            }
        }
        
        .item_image_wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            height: 30vh;
            margin-bottom: 5%;
    
            @media screen and (min-width: 800px) {
                margin-bottom: 0;
            }

            .image {
                opacity: 0.8;
            }
        }
        
    }
}