.checkout_body_step_wrapper {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    width: 100%;
    @media screen and (min-width: 800px) {
        width: 65%;
    }
    .checkout_step_title_wrapper {
        display: flex;
        padding: 0 10%;
        border-bottom: solid 1px black;
        .checkout_step_title {
            color: black;
            font-weight: 800;
        }
    }
    .checkout_step_items_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


