.cart_wrapper {
    position: absolute;
    flex-direction: column;
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    top:0;
    right: 0;
    padding: 5% 0;
    animation : open 800ms;
    display: flex;
    background-color: white;
    color: black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    @media screen and (min-width: 800px) {
        width: 25%;
        padding: 1% 0;
    }
    .icon_wrapper {
        display:flex;
        position: absolute;
        right: 5%;
        top:5%;
        font-size: 6vw;
        border: solid black 1px;
        padding: 0.2rem;
        opacity: 0.8;
        cursor: pointer;
        @media screen and (min-width: 800px) {
            font-size: 2vw;
        }
        
    }
    
    .cart_title_wrapper {
        display: flex;
        border-bottom: solid black 1px;
        justify-content: center;

        .cart_title{
            font-family: library;
            font-size: 8vw;
            opacity: 0.8;
            @media screen and (min-width: 800px) {
                font-size: 2vw;
            }
        }
    }
    
    .cart_items_wrapper {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        font-size: 6vw;
        text-transform: uppercase;
        font-weight: 800;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 800px) {
            font-size: 2vw;
        }
    }

    .cart_subtotal_wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        padding: 1rem;
        font-size: 4vw;
        font-weight: 800;
        @media screen and (min-width: 800px) {
            font-size: 2vw;
            margin-bottom: 10%;
        }
        .cart_subtotal_title {
            display: flex;
        }
        .cart_subtotal_price {
            display: flex;
        }
    }


    .cart_button_wrapper {
        display: flex;
        justify-content: center;
        .item_buy {
            display: flex;
            width: 80%;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: black;
            color: white;
            padding: 5%;
            font-size: 6vw;
            font-weight: 800;
            font-family: 'IBM Plex Mono',sans-serif;
            cursor: pointer;
            border: solid 1px white;
            @media screen and (min-width: 800px) {
                font-size: 1vw;
                padding: 4%;
            }
        }
        .item_buy:hover{
            background-color: white;
            border: solid 1px black;
            color: black;
        }
    }
    
}

@keyframes open {
    0%{
        transform: scale(0);
        opacity: 0.2;
        transform-origin: 100% 0%;
    }
    100% {
        transform: scale(1);
        opacity: 0.95;
        transform-origin: 100% 0%;
        
    }
}