.contact_form_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0 10%;
    .contact_form_wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (min-width: 800px) {
            width: 50%;
        }
        .contact_form_title_wrapper {
            display: flex;
            .contact_form_title {
                color: black;
                font-weight: 800;
                font-size: 10vw;
                @media screen and (min-width: 800px) {
                    font-size: 4vw;
                }
            }
        }
        .contact_form_text_wrapper{
            display: flex;
            .contact_form_text {
                color: black;
                font-weight: 800;
                font-size: 4vw;
                @media screen and (min-width: 800px) {
                    font-size: 1.5vw;
                }
            }
        }
        
        .contact_form_container {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            @media screen and (min-width: 800px) {
                // padding: 1rem 4rem;
            }
            .contact_form {
                display: flex;
                flex-direction: column;
                width: 100%;
                
                .contact_field {
                    padding-bottom: 0;
                    border: 1px #000;
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;

                    .contact_label{
                        font-size: 4vw;
                        line-height: 1em;
                        font-weight: 800;
                        text-transform: uppercase;
                        padding : 1rem 0;
                        @media screen and (min-width: 800px) {
                            font-size: 1vw;
                        }
                    }
                    .contact_input {
                        height: 50px;
                        margin-bottom: 15px;
                        border-style: none none none solid;
                        border-width: 1px 1px 0 3px;
                        border-color: transparent;
                        border-radius: 0;
                        background-color: #f0f3f7;
                        transition: background-color 150ms;
                        font-family: 'IBM Plex Mono',sans-serif;
                        font-size: 4vw;
                        color: #000;
                        @media screen and (min-width: 800px) {
                            font-size: 1vw;
                        }
                    }

                    .contact_area {
                        height: 150px;
                        margin-bottom: 15px;
                        border-style: none none none solid;
                        border-width: 1px 1px 0 3px;
                        border-color: transparent;
                        border-radius: 0;
                        background-color: #f0f3f7;
                        transition: background-color 150ms;
                        font-family: 'IBM Plex Mono',sans-serif;
                        font-size: 4vw;
                        color: #000;
                        @media screen and (min-width: 800px) {
                            font-size: 1vw;
                        }
                    }

                    
                }
            }
            .contact_button_wrapper {
                display: flex;
                justify-content: center;
                .contact_send {
                    display: flex;
                    width: 80%;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: black;
                    color: white;
                    padding: 5%;
                    font-size: 4vw;
                    font-weight: 800;
                    font-family: 'IBM Plex Mono',sans-serif;
                    cursor: pointer;
                    border: solid 1px white;
                    @media screen and (min-width: 800px) {
                        font-size: 1.5vw;
                        padding: 4%;
                        width: 50%;
                    }
                }
                .contact_send:hover{
                    background-color: white;
                    border: solid 1px black;
                    color: black;
                }
            }
        }
    }
}