.checkout_body_step_wrapper {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    width: 100%;
    @media screen and (min-width: 800px) {
        width: 65%;
    }
    .checkout_step_title_wrapper {
        display: flex;
        padding: 0 10%;
        border-bottom: solid 1px black;
        
        .checkout_step_title {
            color: black;
            font-weight: 800;
        }
    }
    .checkout_step_form_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 800px) {
            padding: 1rem 4rem;
        }
        .shipping_form {
            display: flex;
            flex-direction: column;
            width: 100%;
            .shipping_field {
                padding-bottom: 0;
                border: 1px #000;
                display: flex;
                flex-direction: column;

                .shipping_label{
                    font-size: 4vw;
                    line-height: 1em;
                    font-weight: 800;
                    text-transform: uppercase;
                    padding : 1rem 0;
                    @media screen and (min-width: 800px) {
                        font-size: 1vw;
                    }
                }
                .shipping_input {
                    height: 50px;
                    margin-bottom: 15px;
                    border-style: none none none solid;
                    border-width: 1px 1px 0 3px;
                    border-color: transparent;
                    border-radius: 0;
                    background-color: #f0f3f7;
                    transition: background-color 150ms;
                    font-family: 'IBM Plex Mono',sans-serif;
                    font-size: 4vw;
                    color: #000;
                    @media screen and (min-width: 800px) {
                        font-size: 1vw;
                    }
                }
            }
        }
    }
}