.checkout_hero_container {
    display: flex;
    flex-direction: column;
    margin: 0 5% 0 5%;
    
    .checkout_hero_step_wrapper {
        display: none;
        @media screen and (min-width: 800px) {
            margin-top: 5%;
            padding: 1rem;
            display: flex;
            width: 100%;
            flex-grow: 1;
            gap: 0.5rem;
            background-color: hsla(0,0%,100%,.11);

            .checkout_hero_step_link {
                display: flex;
                align-items: center;
                .checkout_hero_step_text{
                    font-size: 1.5vw;
                    font-weight: 800;
                }
            }
            .checkout_hero_step_line_wrapper{
                display: flex;
                flex-grow: 1;
                align-items: center;
                .checkout_hero_step_line{
                    display: flex;
                    flex-grow: 1;
                    border-bottom: 1px solid white;
                }
            }
        }
        
    }
    .checkout_title_wrapper {
        display: flex;
        justify-content: center;
        padding-top: 15%;
        gap: 1rem;
        width: 65%;
        @media screen and (min-width: 800px) {
            padding-top: 10%;
            justify-content: flex-start;
        }
        .checkout_title {
            font-family: library;
        }
        .checkout_title_line_wrapper{
            display: none;
            @media screen and (min-width: 800px) {
                display: flex;
                flex-grow: 1;
                align-items: center;

                .checkout_title_line{
                    @media screen and (min-width: 800px) {
                        flex-grow: 1;
                        border-bottom: 1px dashed white;
                    }
                }
            }
        }

    }
}




