.hero_container{
    display: flex;
    align-items: center;
    height: 100%;
    @media screen and (min-width: 800px) {
        
    }

    .hero_wrapper{
        display: flex;
        margin: 0 5% 0 5%;
        @media screen and (min-width: 800px) {
            height: 50vh;
        }

        .aside_wrapper {
            display: flex;
            width: 20px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex: 0 auto;

            .dot{
                width: 1px;
                flex: 1;
                border-left: 1.6px dashed #fff;
            }

            .text {
                margin-top: 2rem;
                margin-bottom: 2rem;
                transform: rotate(-90deg);
                color: #fff;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-weight: 800;
            }
        }

        .hero_paragraph_wrapper {
            display: flex;
            width: 60%;
            padding: 20% 10% 20% 10%;
            flex-direction: column;
            align-items: flex-start;
            flex: 1;

            @media screen and (min-width: 800px) {
                width: 40%;
                padding-top: 0%;
            }

            .hero_h1{
                font-family: library;
                font-size: 10vw;
                opacity: 0.8;
                @media screen and (min-width: 800px) {
                    font-size: 4vw;
                }
            }
            .hero_button{
                display: flex;
                justify-content: center;
                align-items: center;
                border-style: none;
                border-width: 0;
                background-color: #fff;
                // height: 3rem;
                margin-top: 0;
                padding: 0 5% 0 5%;
                text-decoration: none;
                font-family: 'IBM Plex Mono',sans-serif;
                font-weight: 800;
                font-size: 4vw;
                width: 40vw;
                cursor: pointer;
                @media screen and (min-width: 800px) {
                    font-size: 1.5vw;
                    height: 2.5rem;
                    width: 15vw;
                    padding: 0 10% 0 10%;
                    background-color: #fff;
                }
            }
            .hero_button:hover{
                background-color: black;
                border: solid 1px white;
                color: white;
            }
        }   
    }
    .explore_wrapper {
        display: flex;
        position: absolute;
        right: 5%;
        bottom: 2%;
        align-items: center;
        text-transform: uppercase;
        color: #fff;
        border: none;
        background-color: black;
        cursor: pointer;
        font-weight: 800;
        font-size: 5vw;

        @media screen and (min-width: 800px) {
            font-size: 1vw;
        }

        p{
            padding-right: 0.5rem;
            letter-spacing: 2px;
        }
    }
}