.item_container {
    display: flex;
    justify-content: center;

    .image_wrapper {
        display: none;
        
        @media screen and (min-width: 800px) {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            z-index: 2;
            background-color: black;
            top: -2rem;
            right: -2rem;
            box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.26);
        }
    }
    .item_wrapper {
        display: flex;
        width: 90%;
        flex-direction: column;
        border: solid black 3px;
        padding: 1rem 2rem 1rem 2rem;
            @media screen and (min-width: 800px) {
                width: 75%;
                padding: 05% 10%;
            }
        .item_title{
            font-size: 8vw;
            font-weight: 800;
    
            @media screen and (min-width: 800px) {
                font-size: 3vw;
                margin-bottom: 0.5rem;
                margin-top: 0;
            }
        }
        .item_price_wrapper{
            font-size: 6vw;
            padding-bottom: 1rem;
    
            @media screen and (min-width: 800px) {
                font-size: 2vw;
                font-weight: 800;
                padding-bottom: 0.5rem;
            }
        }
        .item_badge_wrapper {
            padding-bottom: 5%;
            .item_badge{
                background-color: #ff5c5f;
                color: white;
                text-transform: uppercase;
                width: 60%;
                padding: 5%;
                font-size: 4vw;
    
                @media screen and (min-width: 800px) {
                    display: flex;
                    font-size: 1vw;
                    font-weight: 800;
                    width: 20%;
                    padding: 1%;
                    justify-content: center;
                }
            }
        }
        
        .item_image_wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            height: 30vh;
            margin-bottom: 5%;
    
            @media screen and (min-width: 800px) {
                display: none;
            }
        }
        .image_description{
            margin-bottom: 5%;
        }
        .item_cart_container {
            display: flex;
            flex-direction: column;
    
            @media screen and (min-width: 800px) {
                flex-direction: row;
                width: 50%;
                justify-content: space-between;
            }
    
            .item_cart_wrapper{
                display: flex;
                justify-content: space-between;
                padding-bottom: 5%;
                @media screen and (min-width: 800px) {
                    padding-bottom: 0;
                    flex-grow: 0.8;
                }
        
                .item_quantity{
                    display: flex;
                    border: solid black 1px;
                    width: 30%;
                    justify-content: center;
                    padding: 2%;
                    font-weight: 800;
                    @media screen and (min-width: 800px) {
                        width: 25%;
                        font-size: 1vw;
                        padding: 4%;
                        align-items: center;
                    }
                }
                .item_add:hover{
                    background-color: black;
                    border: solid 1px white;
                    color: white;
                }
        
                .item_add {
                    border: solid black 1px;
                    background-color: white;
                    width: 50%;
                    padding: 2%;
                    font-size: 4vw;
                    font-family: 'IBM Plex Mono',sans-serif;
                    font-weight: 800;
                    cursor: pointer;
                    @media screen and (min-width: 800px) {
                        width: 60%;
                        font-size: 1vw;
                        padding: 4%;
                    }
                }
        
            }
            .item_buy {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                background-color: black;
                color: white;
                padding: 5%;
                font-size: 6vw;
                font-weight: 800;
                font-family: 'IBM Plex Mono',sans-serif;
                cursor: pointer;
                border: solid 1px white;
                @media screen and (min-width: 800px) {
                    width: 30%;
                    font-size: 1vw;
                    padding: 4%;
                }
            }
            .item_buy:hover{
                background-color: white;
                border: solid 1px black;
                color: black;
            }
        }
        
    }
}









