.footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-between;

    @media screen and (min-width: 800px) {
        align-items: flex-start;
        padding-left: 05%;
    }
    .footer_title {
        font-family: library;
        font-size: 7vw;

        @media screen and (min-width: 800px) {
            font-size: 1.5vw; 
        }
    }
    .footer_copyright {
        padding-bottom: 5%;
        @media screen and (min-width: 800px) {
            font-size: 1vw; 
            padding-bottom: 1%;
        }
    }
    .footer_link_wrapper {
        display: flex;
        color: white;
        width: 50%;
        justify-content: space-between;
        font-weight: 800;
        @media screen and (min-width: 800px) {
            font-size: 1vw;
            width: 10%;
        }
        .footer_link:hover {
            cursor: pointer;
            color:#ff5c5f;
        }
    }
    
}


