.bill_head_container {
    display: flex;
    flex-direction: column;
    background-color: black;
    .bill_title_wrapper {
        display: flex;
        justify-content: center;
        padding-top: 15%;
        gap: 1rem;
        width: 100%;
        padding: 0 5%;
        color: white;
        @media screen and (min-width: 800px) {
            width: 65%;
            padding-top: 10%;
            justify-content: flex-start;
        }
        .bill_title {
            font-family: library;
        }
        .bill_title_line_wrapper{
            display: none;
            @media screen and (min-width: 800px) {
                display: flex;
                flex-grow: 1;
                align-items: center;

                .bill_title_line{
                    @media screen and (min-width: 800px) {
                        flex-grow: 1;
                        border-bottom: 1px dashed white;
                    }
                }
            }
        }

    }
}
.bill_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5%;
    align-items: center;
    
    
    .bill_order_container {
        display: flex;
        flex-direction: column;
        border: solid black 1px;
        width: 100%;
        background-color: white;
    
        .bill_order_title_wrapper {
            display: flex;
            padding: 0 10%;
            border-bottom: solid 1px black;
            .bill_order__title {
                color: black;
                font-weight: 800;
            }
        }
        .bill_recap_wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: solid 1px black;
            gap: 1rem;
            .bill_item_wrapper {
                display: flex;
                width: 100%;
                justify-content: space-between;
                .bill_recap_name {
                    font-weight: 800;
                }
                .bill_recap_price {
                    font-weight: 800;
                }
                .bill_recap_quantity {}
            } 
        }
        .bill_total_wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 1rem;
            font-size: 6vw;
            @media screen and (min-width: 800px) {
                font-size: 2vw;
            }
            .bill_total {
                font-weight: 800;
            }
            .bill_total_price {
                font-weight: 800;
            }
        }
        
    }
    
    .bill_shipping_container {
        display: flex;
        flex-direction: column;
        border: solid black 1px;
        width: 100%;
        background-color: white;
    
        .bill_shipping_title_wrapper {
            display: flex;
            padding: 0 10%;
            border-bottom: solid 1px black;
            .bill_shipping__title {
                color: black;
                font-weight: 800;
            }
        }
        .bill_shipping_wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: solid 1px black;
            gap: 1rem;
            .bill_values_wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
                .bill_value {
                    font-weight: 800;
                }
            } 
        }
        .bill_total_wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 1rem;
            font-size: 6vw;
            @media screen and (min-width: 800px) {
                font-size: 2vw;
            }
            .bill_total {
                font-weight: 800;
            }
            .bill_total_price {
                font-weight: 800;
            }
        }
        
    }
    
    .bill_button_wrapper {
        display: flex;
        justify-content: center;
        .bill_button {
            border: none;
            justify-content: center;
            background-color: black;
            color: white;
            font-family: 'IBM Plex Mono',sans-serif;
            font-weight: 800;
            font-size: 5vw;
            padding: 1.5rem;
            cursor: pointer;
            border: solid 1px white;
            @media screen and (min-width: 800px) {
                font-size: 1.5vw;
                padding: 1.5rem;
            }
        }
    }
}