.order_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    @media screen and (min-width: 800px) {
        position: fixed;
        top: 45vh;
        right: 5%;
        width: 30%;
        z-index: 1;
    }
    .checkout_body_step_wrapper {
        display: flex;
        flex-direction: column;
        border: solid black 1px;
        width: 100%;
        background-color: white;
        .checkout_step_title_wrapper {
            display: flex;
            padding: 0 10%;
            border-bottom: solid 1px black;
            .checkout_step_title {
                color: black;
                font-weight: 800;
            }
        }
        .checkout_recap_wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: solid 1px black;
            gap: 1rem;
            .checkout_item_wrapper {
                display: flex;
                width: 100%;
                justify-content: space-between;
                .checkout_recap_name {
                    font-weight: 800;
                }
                .checkout_recap_price {
                    font-weight: 800;
                }
                .checkout_recap_quantity {}
            } 
        }
        .checkout_total_wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 1rem;
            font-size: 6vw;
            @media screen and (min-width: 800px) {
                font-size: 2vw;
            }
            .checkout_total {
                font-weight: 800;
            }
            .checkout_total_price {
                font-weight: 800;
            }
        }
    
    }
    .order_button_wrapper {
        display: flex;
        width: 100%;
        .order_button {
            width: 100%;
            border: none;
            background-color: black;
            color: white;
            font-family: 'IBM Plex Mono',sans-serif;
            font-weight: 800;
            font-size: 5vw;
            padding: 1.5rem;
            cursor: pointer;
            border: solid 1px white;
            @media screen and (min-width: 800px) {
                font-size: 1.5vw;
                padding: 1.5rem;
            }
        }
    }
    
}
