.items_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 5% 0 5%;
        
    .items_h2 {
        font-family: library;
        font-size: 10vw;

        @media screen and (min-width: 800px) {
            font-size: 4vw;
        }
    }

    .items_wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        @media screen and (min-width: 800px) {
            align-items: flex-end;
        }
    }
}