.item_container {
    display: flex;
    justify-content: center;
    color: black;
    border-bottom: solid 1px black;
    margin-bottom: 10%;
    @media screen and (min-width: 800px) {
        justify-content: flex-start;
        width: 100%;
    }

    .item_wrapper {
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 2rem 1rem 1rem 1rem;
        align-items: center;
        justify-content: space-between;
            @media screen and (min-width: 800px) {
                width: 100%;
                gap: 1rem;
            }
        .item_add_wrapper {
            .item_title{
                font-size: 4vw;
                font-weight: 800;
                margin-bottom: 0;
        
                @media screen and (min-width: 800px) {
                    font-size: 1.2vw;
                }
            }
            .item_quantity_wrapper {
                font-size: 4vw;
                font-weight: 800;
                @media screen and (min-width: 800px) {
                    font-size: 0.7vw;
                }
            }

            .item_button_remove {
                background-color: #ff5c5f;
                color: white;
                text-transform: uppercase;
                padding: 5%;
                font-size: 2vw;
                border:none;
                cursor: pointer;
                @media screen and (min-width: 800px) {
                    font-size: 0.5vw;
                }
            }
        }
        
        .item_price_wrapper{
            font-size: 4vw;
            font-weight: 800;
            border: solid 1px black;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
    
            @media screen and (min-width: 800px) {
                font-size: 1vw;
                font-weight: 800;
            }
        }
        
        .item_image_wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            width: 25vw;
    
            @media screen and (min-width: 800px) {
                width: 7vw;
                margin-bottom: 0;
            }
        }
        
    }
}