html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}

@font-face {
  font-family: Library;
  src: url(../public/Library3am-5V3Z.otf);
}


