.home_container {
  height: 100%;
  opacity: 0.9;
  background-color: #fff;
  font-family: 'IBM Plex Mono',sans-serif;
  color: black;
  .head_container {
    height: 100vh;
    background-color: black;
    color: #fff;
  }
  .head_checkout_container {
    height: 25%;
    background-color: black;
    color: #fff;
    padding-bottom: 5%;
  }
}

