.checkout_body_container {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    gap:1rem;
    @media screen and (min-width: 800px) {
        align-items: flex-start;
    }
}