.menu_wrapper {
    position: absolute;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: black;
    top:0;
    padding: 5%;
    align-items: center;
    justify-content: center;
    animation : open 800ms;
    display: flex;
    .icon_wrapper {
        display:flex;
        position: absolute;
        left: 5%;
        top:5%;
        font-size: 6vw;
        border: solid white 1px;
        padding: 0.2rem;
        opacity: 0.8;
    }
    .menu_title{
        font-family: library;
        font-size: 8vw;
        opacity: 0.8;
    }
    .menu_nav {
        display: flex;
        flex-direction: column;
        font-size: 6vw;
        text-transform: uppercase;
        font-weight: 800;
    }
    .menu_nav > a {
        padding-bottom: 20%;
    }
}

@keyframes open {
    0%{
        transform: scale(0);
        opacity: 0.2;
        transform-origin: 0% 0%;
    }
    100% {
        transform: scale(1);
        opacity: 0.95;
        transform-origin: 0% 0%;
        
    }
}